@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F3F0F0;
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

[x-cloack] { 
    display: none; 
}

.title-home{
    font-family: "Playwrite IT Moderna", sans-serif;
}